.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  margin-bottom: 150px;
}

.h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #333;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.button:hover {
  background: #fff;
  border: 1px solid #007bff;
  color: #333;
}
